@import './constants.scss';

.emailForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inherit;

    @media screen and (max-width: $sm) {
        width: 100%;
        height: 80%;
        justify-content: space-evenly;
    }
    
    &__title {
        font-family: $headerFonts;
        font-size: 5rem;
        margin: 0;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        text-align: center;

        @media screen and (max-width: $sm) {
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }
    }

    &__upper {
        width: 60%;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $xs) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__input {
        width: 48%;
        padding: 1rem;
        font-family: inherit;
        background-color: $white;
        border-radius: 1px;
        border: 1px solid $grey; 

        @media screen and (min-width: $xxl) {
            border: .5px solid $grey; 
        }

        @media screen and (max-width: $xs) {
            width: 100%;
            margin: 2rem 0;
        }

        &:focus {
           outline: 2px solid $blue;
        }
    }

    &__textInput {
        width: 60%;
        height: 8rem;
        padding: 1rem;
        font-family: inherit;
        background-color: $white;
        border-radius: 1px;
        border: 1px solid $grey;
        margin-top: 3rem;

        &:focus {
            outline: 2px solid $blue;
        }

        @media screen and (min-width: $xxl) {
            border: .5px solid $grey; 
        }

        @media screen and (max-width: $xs) {
            height: 25rem;
            margin-top: 0;
        }
    }
}