@import './constants.scss';

.Languages {
    flex: 0 1 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $sm) {
        width: 80%;
    };

    @media screen and (max-width: $xs) {
        width: auto;
    };

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 11rem;
        height: 11rem;
        font-size: 1.5rem;

        @media screen and (max-width: $sm) {
            padding: 2rem 0;
        }

        &_logo {
            max-width: 60%;
            height: auto;
        }

        p {
            margin: 0;
        }

    }
}