@import './constants.scss';
@import './animation.scss';

.MainHeader {
    display: flex;
    flex: 0 1 56%;
    justify-content: center;
    flex-direction: column;
    font-family: $headerFonts;
    font-size: 3.5rem;
    letter-spacing: 4px;
    line-height: 1.5;

    @media screen and (min-width: $xxl) {
        align-items: center;
        font-size: 4rem;
    };

    @media screen and (max-width: $xs) {
        font-size: 2.5rem;
    };
    
    @media screen and (max-width: $xxs) {
       padding-bottom: 8rem;
    };

    &__mainTitle {
        margin: 0;
    }

    &__title {
        color: $blue;
        margin: 0;
        opacity: 0;

        animation-name: header;
        animation-duration: 2s;
        animation-iteration-count: ease-out;
        animation-fill-mode: forwards;
        backface-visibility: hidden;

        &_2 {
            animation-delay: .5s;
        }

        &_3 {
            animation-delay: .8s;  
        }

        &_4 {
            animation-delay: 1.1s;
        }
    }
}