@import './constants.scss';
@import './animation.scss';

.MainHeader {
    display: flex;
    flex: 0 0 56%;
    justify-content: center;
    padding-left: 5rem;
    flex-direction: column;
    overflow: hidden;
    font-family: $headerFonts;
    font-size: inherit;
    letter-spacing: 5px;
    line-height: 1.2;
    backface-visibility: hidden;

    &__title {
        margin: 0;
        font-size: 6rem;

        &2 {
            color: $blue;
            margin: 0;
            font-size: 6rem;
            opacity: 0;
            animation-name: header;
            animation-duration: 2s;
            animation-iteration-count: ease-out;
            animation-fill-mode: forwards;
            animation-delay: .5s;
        }

        &3 {
            color: $blue;
            margin: 0;
            font-size: 6rem;
            opacity: 0;
            animation-name: header;
            animation-duration: 2s;
            animation-iteration-count: ease-out;
            animation-fill-mode: forwards;
            animation-delay: .8s;
            
        }

        &4 {
            color: $blue;
            margin: 0;
            font-size: 6rem;
            opacity: 0;
            animation-name: header;
            animation-duration: 2s;
            animation-iteration-count: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 1.1s;
        }
    }
}