@import './constants.scss';
@import './animation.scss';

.Skills {
    display: flex;
    flex-grow: 1;
    padding: 5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;

    @media screen and (min-width: $xxl) {
        padding: 10rem;
    }

    @media screen and (max-width: $sm) {
        margin-top: 15.4rem;
    }

    &__title {
        font-family: $headerFonts;
        font-size: 5rem;
        margin-top: 0;
        flex: 0 0 10%;

        @media screen and (max-width: $sm) {
            display: none;
            visibility: hidden;
        }
        
        &::after {
            content: '';
            position: relative;
            width: 70%;
            left: 15%;
            display: block;
            border-bottom: .7rem solid $grey;
        }
    }

    &__upper {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;

        @media screen and (max-width: $md) {
            align-items: flex-start;
        }

        @media screen and (max-width: $sm) {
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    &__left {
        flex: 0 1 45%;

        @media screen and (min-width: $xxl) {
            flex: 0 1 40%;
        }

        @media screen and (max-width: $xs) {
            margin-bottom: 8rem;
        }

        &_text {
            font-size: 1.6rem;
            text-align: justify;
        }
    }

    &__red {
        color: $red;
    }
}

